    body{
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .cart{
        justify-items: center;
        padding: 10px;
    }

    .checkout-form {
        justify-items: center;
    }

    .checkout-form input,
    .checkout-form button {
        display: block;
        margin: 10px 0;
        padding: 8px;
        width: 60vw;
        font-size: 16px;
        box-sizing: border-box;
    }

    .checkout-form form a{
        text-decoration: none;
    }

    table{
        width: 90vw;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: white;
    }

    th,td{
        border: 1px solid lightgray;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color:#c19a6b;
        color: whitesmoke;
    }

    img{
        width: 10vw;
        height: 10vh;
        object-fit: contain;
    }

    button{
        font-size: 10px;
        padding: 5px;
        width: 2rem;
        align-self: center;
        margin: 5px;
    }

    .total-price{
        margin-top: 30px;
        font-size: 2rem;
    }

    .confirm-btn{
        padding: 15px;
        background-color: green;
        color: white;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .quantity_product{
        display: flex;
        flex-direction: column;
    }


    @media(max-width:1500px){
        table{
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
        }
    }

    @media(max-width:1300px){
        table{
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
        }
    }

    @media(max-width:900px){
        table{
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
        }
    }

    @media(max-width:700px){
        table{
            width: 90vw;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
        }

        th:nth-child(1), td:nth-child(1),
        th:nth-child(2), td:nth-child(2),
        th:nth-child(3), td:nth-child(3),
        th:nth-child(5), td:nth-child(5){
            display: none;
        }
    }

    @media(max-width:400px){
        table{
            width: 100vw;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
        }

        th:nth-child(1), td:nth-child(1),
        th:nth-child(2), td:nth-child(2),
        th:nth-child(3), td:nth-child(3),
        th:nth-child(5), td:nth-child(5),
        th:nth-child(9), td:nth-child(9){
            display: none;
        }


    }


