    body{
        margin: 0;
    }

    .cart{
        justify-items: center;
    }

    .checkout-form {
        margin-top: 20px;
        padding: 50px;
        justify-items: center;
    }

    .checkout-form input,
    .checkout-form button {
        display: block;
        margin: 10px 0;
        padding: 8px;
        width: 100vh;
        font-size: 16px;
        box-sizing: border-box;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: white;
    }

    th,td{
        border: 1px solid lightblue;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color:lightblue;
    }

    img{
        width: 10vw;
        height: 10vh;
        object-fit: contain;
    }

    button{
        padding: 10px;
        margin: auto
    }

    .total-price{
        font-size: 1.2rem;
        text-align: right;
        margin-top: 15px;
    }

    .confirm-btn{
        padding: 15px;
        background-color: green;
        color: white;
        border-radius: 5px;
        border: none;
    }

    .total-price{
        font-size: 30px;
    }

