    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .icon-style-4 {
        font-size: 1.8rem;
        color: #c19a6b;
        padding: 10px;
        border: 2px dashed #c19a6b;
        border-radius: 8px;
        transition: all 0.4s;
    }

    .icon-style-4:hover {
        color: white;
        background: #c19a6b;
        border-style: solid;
        transform: translateY(-5px);
    }

    .location{
        color: red;
        font-size: 1.5em;
    }

    .container-grid main{
        text-align: center;
    }

    .container-grid main p{
        font-size: 20px;
    }

    @media(max-width:768px){

        .icon-style-4 {
            font-size: 1.5rem;
            color: #c19a6b;
            padding: 10px;
            border: 2px dashed #c19a6b;
            border-radius: 8px;
            transition: all 0.4s;
        }

        .icon-style-4:hover {
            color: white;
            background: #3498db;
            border-style: solid;
            transform: translateY(-5px);
        }

        .location{
            color: red;
            font-size: 2rem;
        }

        .container-grid main{
            text-align: center;
        }

        .container-grid main p{
            font-size: 15px;
        }
    }