.reviews {
    padding: 40px 20px;
    background-color: var(--bg-color);
    text-align: center;
}

.reviews h2 {
    margin-bottom: 30px;
    color: var(--text-color);
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.review-card {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 250px;
    text-align: left;
    transition: transform 0.3s;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card p {
    font-style: italic;
    color: var(--text-color);
}

.review-card h4 {
    margin-top: 15px;
    font-weight: bold;
    color: var(--text-color);
}

.stars {
    color: #f1c40f;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .product-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .product-box {
        width: 48%;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .product-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .product-box {
        width: 48%;
        justify-content: center;
    }
}
