body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

:root{
    --text-color: #333;
    --bg-color: #f5f5f5;
    --white: #fff;
}

.container-grid {
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: 100%;
    width: 100%;
}

h1{
    margin-top: 20px;
}

/* Cấu trúc main content */
.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "products"
        "products"
        "reviews";
    gap: 3rem;
    width: auto;
    justify-items: center;
}

.product-container {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.reviews {
    grid-area: reviews;
}

.review-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
}


/*Định dạng phần đầu trang*/
header{
    grid-area: header;
    background-color: var(--bg-color);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
}

.bg-image{
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 8px;
    width: 50vw;
    height: 36vh;
}

.bg-image img{
    width: 100%;
    height: 19vh;
    border-radius: 5px;
    object-fit: fill;
    transition: all 0.5s ease-in-out;
}

.bg-image img:hover{
    scale: 1.02;
}

.bg-container {
    position: relative;
    width: 100%;
    height: 93%;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fade 12s infinite ease-in-out;
}

.bg1 {
    background-image: url("../image/banner_header1.jpg");
    animation-delay: 0s;
}

.bg2 {
    background-image: url("../image/mau-thiet-ke-banner-giay-the-thao-minh-duong-media.jpg");
    animation-delay: 4s;
}

.bg3 {
    background-image: url("../image/mau-thiet-ke-banner-ro-bot-hut-bui-minh-duong-media1.jpg");
    animation-delay: 8s;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; } 
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

.reviews {
    padding: 40px 20px;
    background-color: var(--bg-color);
    text-align: center;
}

.reviews h2 {
    margin-bottom: 30px;
    color: var(--text-color);
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.review-card {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 250px;
    text-align: left;
    transition: transform 0.3s;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card p {
    font-style: italic;
    color: var(--text-color);
}

.review-card h4 {
    margin-top: 15px;
    font-weight: bold;
    color: var(--text-color);
}

.stars {
    color: #f1c40f;
    margin-top: 5px;
}

.fire-icon {
    color: orangered;
    transition: all 0.5s ease-in-out;
}

.fire-icon:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

.product_new_icon {
    color: yellow;
    transition: all 0.5s ease-in-out;
}

.product_new_icon:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

.product_outstanding{
    transition: all 0.5s ease-in-out;
}

.product_outstanding:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

.star_appraisal{
    transition: all 0.5s ease-in-out;
}

.star_appraisal:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

    .header{
        width: 100%;
        border: 0px solid black;
        background-color: whitesmoke;
        height: 100%;
        justify-items: center;
    }

    .wave{
        width: 100%;
        justify-items: center;
        margin-top: 7vh;
    }

    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 35%;
        font-size: clamp(20px,2rem,40px);
    }

    
    .product-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

    .product-box{
        display: block;
        background-color:  whitesmoke;
        border-radius: 10px;
        box-shadow: 0 5px 10px;
        padding: 15px;
        width: 20vw;
        text-align: center;
        height: auto;
        margin-bottom: 10px;
        border: 0.5px solid transparent;
        transition: background-color 0.3s ease;
    }

    .product-box:hover{
        cursor: pointer;
        border-color: #FFA000;
        background-color: #f0f0f0;
    }

    .product-box img{
        width: 20vw;
        height: 30vh;
        border-radius: 10px;
        object-fit: contain;
        transition: all 0.5s ease-in-out;
    }

    .product-box img:hover{
        scale: 1.1;
    }

    .product-box .product-name{
        font-size: clamp(20px,2vw,25px);
        margin: 10px;
        color: #2c3e50;
        max-height: 24px;
    }

    .product-box .product-price{
        margin: 10px;
        color: gray;
        max-height: 24px;
        font-size: clamp(15px,1.2vw,20px);
    }

    .product-box .product-add{
        padding: 5px;
    }

    .product-box .product-add button:hover{
        background-color: #FFA000;
    }

    .product-add button{
        width: auto;
    }

    .product-box .product-description{
        font-size: clamp(15px,1.2vw,20px);
        margin: 10px;
        color: gray;
        height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 70%;
        display: inline-block;
    }

    .product-box form button{
        padding: 10px;
        background-color: #c19a6b;
        cursor: pointer;
        font-size: clamp(15px,1.2vw,20px);
        color: whitesmoke;
        border-radius: 10px;
        border: none;
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 2px;
    }

    .view-detail-button:hover {
        background-color: #FFA000;
    }

    .btn-process{
        display: grid;
        grid-template-columns: auto auto;
    }

    .pagination{
        padding: 10px;
        margin: 10px;
    }

    .sbsb{
        justify-items: right;
    }

    .sidebar {
        width: 240px;
        background-color: #f8f9fa;
        padding: 20px;
        border-right: 1px solid #ddd;
        font-family: Arial, sans-serif;
        justify-content: center;
    }

    .sidebar-title {
        font-size: 18px;
        margin-bottom: 12px;
        color: #333;
    }

    .select-btn {
        width: 100%;
        padding: 10px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: white;
        color: #333;
        outline: none;
        cursor: pointer;
        transition: border-color 0.3s;
    }

    .select-btn option{
        background-color: #c19a6b;
        color: whitesmoke;
    }

    .select-btn:hover {
        border-color: #FFA000;
    }

    .select-btn:focus {
        border-color: #FFA000;
    }

        /* Phân trang */
    .pagination {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .page-btn {
        padding: 8px 16px;
        background-color: whitesmoke;
        border: 1px solid #ddd;
        color: #333;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .page-btn:hover:not(.active) {
        background-color: #ddd;
    }

    .page-btn.active {
        background-color: #c19a6b;
        color: white;
        border: 1px solid #c19a6b;
    }

    .page-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

@media(max-width:1200px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        justify-items: center;
        grid-gap: 10px;
        padding: 20px;
        height: 90vh;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .bg-container{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .container-grid main header .bg-image img{
        width: 100%;
    }
}


@keyframes wave {
    0%, 100% { transform: scale(1.1) }
    25% { transform: scale(1.2) }
    50% { transform: scale(1.1) }
    75% { transform:  scale(1.2)}
}

@media(max-width:1300px){

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 40vh;
    }

    .bg-image{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        width: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 18vh;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }

    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 40%;
        font-size: clamp(20px,2rem,40px);
    }
}

@media(max-width:1200px){
    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 45%;
        font-size: clamp(20px,2rem,40px);
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 80vh;
    }

    .bg-container{
        width: 100%;
        height: 55vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .bg-image{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        width: 100%;
        height: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 25vh;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }

    .product-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
        justify-items: center;
    }
    .product-box{
        display: block;
        background-color:  #f5f7fa;
        border-radius: 10px;
        box-shadow: 0 5px 10px;
        padding: 25px;
        width: 25vw;
        text-align: center;
        height:43vh;
        margin-bottom: 10px;
        border: 0.5px solid transparent;
        transition: background-color 0.3s ease;
    }
    .product-box img{
        width: 15vw;
        height: 20vh;
        border-radius: 10px;
        object-fit: contain;
        transition: all 0.5s ease-in-out;
    }
}

@media(max-width:1000px){

    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 50%;
        font-size: clamp(20px,2rem,40px);
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 80vh;
    }

    .bg-container{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .bg-image{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        width: 100%;
        height: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 25vh;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }

    .product-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
        justify-items: center;
    }
    .product-box{
        display: block;
        background-color:  #f5f7fa;
        border-radius: 10px;
        box-shadow: 0 5px 10px;
        padding: 25px;
        width: 25vw;
        text-align: center;
        height:45vh;
        margin-bottom: 10px;
        border: 0.5px solid transparent;
        transition: background-color 0.3s ease;
    }
    .product-box img{
        width: 15vw;
        height: 20vh;
        border-radius: 10px;
        object-fit: contain;
        transition: all 0.5s ease-in-out;
    }
}

@media(max-width:900px){
    /*Định dạng phần đầu trang*/

    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 60%;
        font-size: clamp(20px,2rem,40px);
    }

    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 70vh;
    }

    .bg-container{
        width: 100%;
        height: 40vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }
}


@media(max-width:750px){

    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 65%;
        font-size: clamp(20px,2rem,40px);
    }

    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    .product-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-wrap: wrap;
            width: 108vw;
            gap: 5px;
            justify-items: center;
        }

        .product-box{
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 42vw;
            text-align: center;
            height: 43vh;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 10px;
        padding: 20px;
        height: 0;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 70vh;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .bg-container{
        width: 100%;
        height: 36vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 20vh;
    }
}

    @media(max-width:600px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin-bottom: 55vh
    }

    .bg-container{
        width: 100%;
        height: 30vh;
        overflow: hidden;
        border: none;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .container-grid main header .bg-image img{
        width: 100%;
    }

    .product-container{
            display: grid;
            grid-template-columns: 1fr;
            flex-wrap: wrap;
            width: 108vw;
            gap: 5px;
            justify-content: center;
        }

        .product-box{
            justify-items: center;
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 80vw;
            text-align: center;
            height: 80%;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 50vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
}

    @media(max-width:475px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 107vw;
        grid-template-rows: auto auto auto auto;
        height: auto;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        height: 0vh;
        width: 98vw;
        margin-bottom: 60vh
    }

    .bg-container{
        width: 100%;
        height: 25vh;
        overflow: hidden;
        border: none;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .container-grid main header .bg-image img{
        width: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 18vh;
    }

    .wave-text {
        animation: wave 3s ease-in-out infinite;
        width: 76%;
        font-size: 1.7rem;
    }
}

    @media(max-width:375px){
        /*Định dạng phần đầu trang*/
        header{
            grid-area: header;
            background-color: var(--bg-color);
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            height: 0vh;
            width: 110vw;
            margin-bottom: 60vh
        }

        .bg-container{
            width: 100%;
            height: 25vh;
            overflow: hidden;
            border: none;
        }

        .container-grid main header{
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .container-grid main header .bg-image{
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }

        .container-grid main header .bg-image img{
            width: 100%;
        }

        .bg-image img{
            width: 100%;
            height: 18vh;
        }

                .product-container{
            display: grid;
            grid-template-columns: 1fr;
            flex-wrap: wrap;
            width: 118vw;
            gap: 5px;
            justify-content: center;
        }

        .product-box{
            justify-items: center;
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 100vw;
            text-align: center;
            height: 45vh;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 50vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
    }










