body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

:root{
    --text-color: #333;
    --bg-color: #f5f5f5;
    --white: #fff;
}

.container-grid {
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: 100%;
    width: 100%;
}

h1{
    margin-top: 20px;
}

/* Cấu trúc main content */
.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "products"
        "products"
        "reviews";
    gap: 3rem;
    width: auto;
    justify-items: center;
}

.product-container {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.reviews {
    grid-area: reviews;
}

.review-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
}


/*Định dạng phần đầu trang*/
header{
    grid-area: header;
    background-color: var(--bg-color);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
}

.bg-image{
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px;
    width: 50vw;
    height: 36vh;
}

.bg-image img{
    width: 100%;
    height: 18vh;
    border-radius: 5px;
    object-fit: fill;
    transition: all 0.5s ease-in-out;
}

.bg-image img:hover{
    scale: 1.02;
}

.bg-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fade 12s infinite ease-in-out;
}

.bg1 {
    background-image: url("../image/banner_header1.jpg");
    animation-delay: 0s;
}

.bg2 {
    background-image: url("../image/mau-thiet-ke-banner-giay-the-thao-minh-duong-media.jpg");
    animation-delay: 4s;
}

.bg3 {
    background-image: url("../image/mau-thiet-ke-banner-ro-bot-hut-bui-minh-duong-media1.jpg");
    animation-delay: 8s;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; } 
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

.reviews {
    padding: 40px 20px;
    background-color: var(--bg-color);
    text-align: center;
}

.reviews h2 {
    margin-bottom: 30px;
    color: var(--text-color);
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.review-card {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 250px;
    text-align: left;
    transition: transform 0.3s;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card p {
    font-style: italic;
    color: var(--text-color);
}

.review-card h4 {
    margin-top: 15px;
    font-weight: bold;
    color: var(--text-color);
}

.stars {
    color: #f1c40f;
    margin-top: 5px;
}

.fire-icon {
    color: orangered;
    transition: all 0.5s ease-in-out;
}

.fire-icon:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

.product_new_icon {
    color: yellow;
    transition: all 0.5s ease-in-out;
}

.product_new_icon:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

.product_outstanding{
    transition: all 0.5s ease-in-out;
}

.product_outstanding:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

.star_appraisal{
    transition: all 0.5s ease-in-out;
}

.star_appraisal:hover {
    transform: rotate(360deg); /* Xoay 360 độ khi hover */
}

    .header{
        width: 100%;
        border: 0px solid black;
        background-color: whitesmoke;
        height: 100%;
    }

@media(max-width:1200px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        justify-items: center;
        grid-gap: 10px;
        padding: 20px;
        height: 90vh;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .bg-container{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .container-grid main header .bg-image img{
        width: 100%;
    }
}

.wave{
    width: 100%;
    justify-items: center;
}

.wave-text {
    animation: wave 3s ease-in-out infinite;
    width: 80%;
    font-size: clamp(30px,2vw,40px);
}

@keyframes wave {
    0%, 100% { transform: scale(1.1) }
    25% { transform: scale(1.2) }
    50% { transform: scale(1.1) }
    75% { transform:  scale(1.2)}
}

@media(max-width:1300px){

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 40vh;
    }

    .bg-image{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        width: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 17vh;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }
}

@media(max-width:1200px){

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 80vh;
    }

    .bg-container{
        width: 100%;
        height: 55vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .bg-image{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        width: 100%;
        height: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 25vh;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }
}

@media(max-width:1000px){

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 80vh;
    }

    .bg-container{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .bg-image{
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        width: 100%;
        height: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 25vh;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }
}

@media(max-width:900px){
    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 70vh;
    }

    .bg-container{
        width: 100%;
        height: 40vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }
}


@media(max-width:750px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 10px;
        padding: 20px;
        height: 0;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-gap: 10px;
        padding: 20px;
        height: 20vh;
        margin-bottom: 70vh;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .bg-container{
        width: 100%;
        height: 36vh;
        overflow: hidden;
        border: none;
        background-color: var(--bg-color);
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 20vh;
    }
}

    @media(max-width:600px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin-bottom: 60vh
    }

    .bg-container{
        width: 100%;
        height: 30vh;
        overflow: hidden;
        border: none;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .container-grid main header .bg-image img{
        width: 100%;
    }
}

    @media(max-width:475px){
    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 107vw;
        grid-template-rows: auto auto auto auto;
        height: auto;
    }

    /*Định dạng phần đầu trang*/
    header{
        grid-area: header;
        background-color: var(--bg-color);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        height: 0vh;
        width: 98vw;
        margin-bottom: 60vh
    }

    .bg-container{
        width: 100%;
        height: 25vh;
        overflow: hidden;
        border: none;
    }

    .container-grid main header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-grid main header .bg-image{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .container-grid main header .bg-image img{
        width: 100%;
    }

    .bg-image img{
        width: 100%;
        height: 18vh;
    }
}

    @media(max-width:375px){
        /*Định dạng phần đầu trang*/
        header{
            grid-area: header;
            background-color: var(--bg-color);
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            height: 0vh;
            width: 110vw;
            margin-bottom: 60vh
        }

        .bg-container{
            width: 100%;
            height: 25vh;
            overflow: hidden;
            border: none;
        }

        .container-grid main header{
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .container-grid main header .bg-image{
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }

        .container-grid main header .bg-image img{
            width: 100%;
        }

        .bg-image img{
            width: 100%;
            height: 18vh;
        }
    }










