
    body{
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
    }
    
    .login{
        justify-items: center;
    }

    .login-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        width: 33vw;
        justify-content: center;
        margin: 50px;
    }

    .login .login-container form label{
        font-weight: bold;
        padding: 10px;
        color: #2c3e50;
    }

    h2 {
        text-align: center;
        color: #2c3e50;
        margin-bottom: 25px;
    }

    input[type="email"],
    input[type="password"] {
        width: 31vw;
        padding: 12px;
        margin-bottom: 30px;
        border: 1px solid #D4AF37;
        border-radius: 10px;
        font-size: 16px;
        margin-top: 5px;
    }

    .login-btn {
        width: 33vw;
        padding: 12px;
        background-color: #c19a6b;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
    }

    .login-btn:hover {
        background-color: #D4AF37;
    }

    .link {
        text-align: center;
        margin-top: 15px;
    }

    .link a {
        text-decoration: none;
        color: #c19a6b;
        font-size: 14px;
    }

    .link a:hover {
        text-decoration: underline;
        color: #D4AF37;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
        display: none;
    }

    @media(max-width:1200px){
        .login{
            justify-items: center;
        }

        .login-container {
            background-color: #fff;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            width: 44vw;
            justify-content: center;
            margin: 50px;
        }

        input[type="email"],
        input[type="password"] {
            width: 41vw;
            padding: 12px;
            margin-bottom: 30px;
            border: 1px solid #D4AF37;
            border-radius: 10px;
            font-size: 16px;
            margin-top: 5px;
        }

        .login-btn {
            width: 43vw;
            padding: 12px;
            background-color: #c19a6b;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    @media(max-width:768px){
        .login{
            justify-items: center;
        }

        .login-container {
            background-color: #fff;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            width: 50vw;
            justify-content: center;
            margin: 50px;
        }

        input[type="email"],
        input[type="password"] {
            width: 46vw;
            padding: 12px;
            margin-bottom: 30px;
            border: 1px solid #D4AF37;
            border-radius: 10px;
            font-size: 16px;
            margin-top: 5px;
        }

        .login-btn {
            width: 49vw;
            padding: 12px;
            background-color: #c19a6b;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    @media(max-width:568px){
        .login{
            justify-items: center;
        }

        .login-container {
            background-color: #fff;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            width: 50vw;
            justify-content: center;
            margin: 50px;
        }

        input[type="email"],
        input[type="password"] {
            width: 46vw;
            padding: 12px;
            margin-bottom: 30px;
            border: 1px solid #D4AF37;
            border-radius: 10px;
            font-size: 16px;
            margin-top: 5px;
        }

        .login-btn {
            width: 52vw;
            padding: 12px;
            background-color: #c19a6b;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
        }
    }



    

