    body {
        margin: 0;
        justify-content: center;
    }

    .login{
        justify-items: center;
    }

    .login-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        width: clamp(43vw,45vw,46vw);
        justify-content: center;
        margin: 50px;
    }

    h2 {
        text-align: center;
        color: #2c3e50;
        margin-bottom: 25px;
    }

    input[type="email"],
    input[type="password"] {
        width: clamp(42vw,43vw,45vw);
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
    }

    .login-btn {
        width: clamp(44vw,45vw,47vw);
        padding: 12px;
        background-color: #3498db;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
    }

    .login-btn:hover {
        background-color: #2980b9;
    }

    .link {
        text-align: center;
        margin-top: 15px;
    }

    .link a {
        text-decoration: none;
        color: #3498db;
        font-size: 14px;
    }

    .link a:hover {
        text-decoration: underline;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
        display: none;
    }

