
    body{
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
    }

    .container-grid {
        display: grid;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: 100%;
        width: 100%;
    }

    main{
        width: 100%;
    }
    
    h1{
        text-align: center;
        margin-bottom: 30px;
        color: #2c3e50;
        margin-top: 50px
    }

    .product-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

    .product-box{
        display: block;
        background-color:  whitesmoke;
        border-radius: 10px;
        box-shadow: 0 5px 10px;
        padding: 15px;
        width: 20vw;
        text-align: center;
        height: auto;
        margin-bottom: 10px;
        border: 0.5px solid transparent;
        transition: background-color 0.3s ease;
    }

    .product-box:hover{
        cursor: pointer;
        border-color: #FFA000;
        background-color: #f0f0f0;
    }

    .product-box img{
        width: 20vw;
        height: 30vh;
        border-radius: 10px;
        object-fit: contain;
        transition: all 0.5s ease-in-out;
    }

    .product-box img:hover{
        scale: 1.1;
    }

    .product-box .product-name{
        font-size: clamp(20px,2vw,25px);
        margin: 10px;
        color: #2c3e50;
        max-height: 24px;
    }

    .product-box .product-price{
        margin: 10px;
        color: gray;
        max-height: 24px;
        font-size: clamp(15px,1.2vw,20px);
    }

    .product-box .product-add{
        padding: 5px;
    }

    .product-box .product-add button:hover{
        background-color: #FFA000;
    }

    .product-add button{
        width: auto;
    }

    .product-box .product-description{
        font-size: clamp(15px,1.2vw,20px);
        margin: 10px;
        color: gray;
        height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 70%;
        display: inline-block;
    }

    .product-box form button{
        padding: 10px;
        background-color: #c19a6b;
        cursor: pointer;
        font-size: clamp(15px,1.2vw,20px);
        color: whitesmoke;
        border-radius: 10px;
        border: none;
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 2px;
    }

    .view-detail-button:hover {
        background-color: #FFA000;
    }

    .btn-process{
        display: grid;
        grid-template-columns: auto auto;
    }

    .pagination{
        padding: 10px;
        margin: 10px;
    }

    .sbsb{
        justify-items: right;
    }

    .sidebar {
        width: 240px;
        background-color: #f8f9fa;
        padding: 20px;
        border-right: 1px solid #ddd;
        font-family: Arial, sans-serif;
        justify-content: center;
    }

    .sidebar-title {
        font-size: 18px;
        margin-bottom: 12px;
        color: #333;
    }

    .select-btn {
        width: 100%;
        padding: 10px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: white;
        color: #333;
        outline: none;
        cursor: pointer;
        transition: border-color 0.3s;
    }

    .select-btn option{
        background-color: #c19a6b;
        color: whitesmoke;
    }

    .select-btn:hover {
        border-color: #FFA000;
    }

    .select-btn:focus {
        border-color: #FFA000;
    }

        /* Phân trang */
    .pagination {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .page-btn {
        padding: 8px 16px;
        background-color: whitesmoke;
        border: 1px solid #ddd;
        color: #333;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .page-btn:hover:not(.active) {
        background-color: #ddd;
    }

    .page-btn.active {
        background-color: #c19a6b;
        color: white;
        border: 1px solid #c19a6b;
    }

    .page-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @media(max-width:1200px){
        body{
            padding: 0;
            margin: 0;
            width: 100%;
            justify-content: center;
        }

        .product-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            flex-wrap: wrap;
            width: 100%;
            gap: 5px;
            justify-items: center;
        }

        .product-box{
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 25vw;
            text-align: center;
            height:43vh;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 15vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
    }

        @media(max-width:957px){
        body{
            padding: 0;
            margin: 0;
            width: 100%;
            justify-content: center;
        }

        .product-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            flex-wrap: wrap;
            width: 100%;
            gap: 5px;
            justify-items: center;
        }

        .product-box{
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 25vw;
            text-align: center;
            height:45vh;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 15vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
    }

    @media(max-width:768px){

        body{
            padding: 0;
            margin: 0;
            width: 100%;
            justify-content: center;
        }

        .product-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-wrap: wrap;
            width: 105vw;
            gap: 5px;
            justify-items: center;
        }

        .product-box{
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 42vw;
            text-align: center;
            height: 43vh;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }
    }

    @media(max-width:600px){
        body{
            padding: 0;
            margin: 0;
            width: 100%;
            justify-content: center;
        }

        .product-container{
            display: grid;
            grid-template-columns: 1fr;
            flex-wrap: wrap;
            width: 108vw;
            gap: 5px;
            justify-content: center;
        }

        .product-box{
            justify-items: center;
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 80vw;
            text-align: center;
            height: 80%;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 50vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
    }

    @media(max-width:500px){
        body{
            padding: 0;
            margin: 0;
            width: 100%;
            justify-content: center;
        }

        .product-container{
            display: grid;
            grid-template-columns: 1fr;
            flex-wrap: wrap;
            width: 119vw;
            gap: 5px;
            justify-content: center;
        }

        .product-box{
            justify-items: center;
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 80vw;
            text-align: center;
            height: 80%;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 50vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
    }

        @media(max-width:375px){
        body{
            padding: 0;
            margin: 0;
            width: 100%;
            justify-content: center;
        }

        .product-container{
            display: grid;
            grid-template-columns: 1fr;
            flex-wrap: wrap;
            width: 121vw;
            gap: 5px;
            justify-content: center;
        }

        .product-box{
            justify-items: center;
            display: block;
            background-color:  #f5f7fa;
            border-radius: 10px;
            box-shadow: 0 5px 10px;
            padding: 25px;
            width: 100vw;
            text-align: center;
            height: 45vh;
            margin-bottom: 10px;
            border: 0.5px solid transparent;
            transition: background-color 0.3s ease;
        }

        .product-box img{
            width: 50vw;
            height: 20vh;
            border-radius: 10px;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
        }
    }