
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

/* Layout chính */
.product-detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 30px;
}

/* Phần ảnh sản phẩm */
.product-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-image img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: 1px solid white;
    cursor: pointer;
}

.main-image img:hover{
    border-color: lightblue;
}

.thumbnail-list {
    display: flex;
    gap: 1rem;
}

.thumbnail{
    width: 10vw;
    height: 10vw;
    object-fit: contain;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.thumbnail:hover {
    border-color: lightblue;
}

/*Phần thông tin sản phẩm*/
.product-info{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.rating{
    color: orange;
    margin-bottom: 0.5rem;
}

.price-section {
    background-color: #c19a6b;
    border-radius: 5px;
    padding: 1.5rem;
}

.current-price {
    font-size: 1.8rem;
    color: whitesmoke;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: whitesmoke;
}

.discount-badge {
    background: orange;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-left: 1rem;
}

/* Nút thêm vào giỏ */
.add-to-cart-form {
    margin-top: 2rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.qty-btn {
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    border: 1px solid #c19a6b;
    font-size: 1rem;
    cursor: pointer;
}

.qty-input {
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 0 0.5rem;
    border: 1px solid #c19a6b;
}

.add-to-cart-btn, .buy-now-btn{
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
    color: whitesmoke;
    background-color: #c19a6b;
}

.buy-now-btn {
    background: #c19a6b;
    color: white;
}

/* Phần sản phẩm liên quan */
.related-products {
    grid-column: 1 / -1;
    text-align: center;
    justify-content: center;
}

.related-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
}

.related-item {
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #c19a6b;
}

.related-item:hover{
    border: 1px solid #D4AF37;
}

.related-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.related-item h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.related-item .price {
    color: #d70018;
    font-weight: bold;
}

.related-products .related-list .related-item button{
    padding: 15px;
    background-color: lightblue;
    border-radius: 5px;
    margin: 5px;
}

.related-products .related-list .related-item button a{
    text-decoration: none;
}

.btn-process{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.related-products .related-list .related-item button{
    padding: 10px;
    background-color: lightblue;
    cursor: pointer;
    font-size: clamp(10px,1.2vw,20px);
    background-color: #c19a6b;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    flex-wrap: nowrap;
}

.view-detail-button {
    text-align: center;
    align-content: center;
    justify-items: center;
    background-color: #c19a6b;
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    flex-wrap: nowrap;
}

.view-detail-button:hover {
    background-color: #2980b9;
}

@media(max-width:1200px){

    .btn-process{
        display: flex;
        justify-content: space-evenly;
    }

    .related-products .related-list .related-item button{
        padding: 10px;
        background-color: lightblue;
        cursor: pointer;
        font-size: clamp(10px,1.1vw,20px);
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        font-size: clamp(10px,1.1vw,20px);
    }
}

@media(max-width:1037px){

    .btn-process{
        display: flex;
        justify-content: space-evenly;
    }

    /* Layout chính */
    .product-detail-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 30px;
    }

    .related-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .related-products .related-list .related-item button{
        padding: 10px;
        background-color: lightblue;
        cursor: pointer;
        font-size: clamp(10px,1.5vw,20px);
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        font-size: clamp(10px,1.5vw,20px);
    }
}

@media(max-width:810px){

    .btn-process{
        display: flex;
        justify-content: space-evenly;
    }

    /* Layout chính */
    .product-detail-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 30px;
    }

    .related-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .related-products .related-list .related-item button{
        padding: 10px;
        background-color: lightblue;
        cursor: pointer;
        font-size: clamp(10px,2.1vw,20px);
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        font-size: clamp(10px,2.1vw,20px);
        
    }
}

@media(max-width:550px){

    .related-item{
        height: max-content;
    }

    .btn-process{
        display: flex;
        justify-content: space-evenly;
    }

    /* Layout chính */
    .product-detail-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 30px;
    }

    .related-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .related-products .related-list .related-item button{
        padding: 10px;
        background-color: lightblue;
        cursor: pointer;
        font-size: clamp(10px,1.8vw,20px);
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        font-size: clamp(10px,1.8vw,20px);
        
    }
}

@media(max-width:475px){

    .related-item{
        height: max-content;
    }

    .btn-process{
        display: flex;
        justify-content: space-evenly;
    }

    /* Layout chính */
    .product-detail-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 30px;
    }

    .related-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .related-products .related-list .related-item button{
        padding: 10px;
        background-color: lightblue;
        cursor: pointer;
        font-size: clamp(10px,4vw,20px);
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        
    }

    .view-detail-button {
        text-align: center;
        align-content: center;
        justify-items: center;
        background-color: #c19a6b;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        font-size: clamp(10px,4vw,20px);
        
    }
}