    body{
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
    }

    .register{
        justify-items: center;
    }

    .register .form-container form label{
        font-weight: bold;
        color: #2c3e50;
    }

    .form-container {
        background: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        width: 33vw;
        margin: 50px;
        justify-content: center;
    }

    h2 {
        text-align: center;
        color: #2c3e50;
        margin-bottom: 20px;
    }

    input {
        width: clamp(30vw,31vw,32vw);
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
    }

    .register-btn {
        width: 33vw;
        padding: 12px;
        background-color: #3498db;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
    }

    .register-btn:hover {
        background-color: #2980b9;
    }

    .link {
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
    }

    .link a {
        color: #3498db;
        text-decoration: none;
    }

    .link a:hover {
        text-decoration: underline;
    }

    