/*--Header--*/
.header{
    background-color: var(--primary-color);
    padding: 2rem;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

/*--logo--*/
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-left: 1rem;
}

/* ==== Ẩn nút menu toggle ở desktop ==== */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/*--nav bar*/
.navbar{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.menu li a{
    color: var(--secondary-color);
    font-weight: bold;
    transition: var(--transition);
    font-size: 1.3rem;
}

.menu li a:hover{
    color:var(--secondary-color);
}

/*--nút giỏ hàng--*/
.cart-container{
    font-size: 1.5rem;
    margin-right: 2rem;
    color: var(--secondary-color);
}

/*--form tìm kiếm--*/
.search-form{
    width: 100%;
}

.search-container {
    display: flex;
    border: 2px solid var(--primary-color);
    border-radius: var(--radius);
    overflow: hidden;
    margin: 1rem;
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 0;
    margin: 0;
    padding: 0.75rem;
}

.search-container button {
    border-radius: var(--radius);
    margin: 0.1rem;
    padding: 0 1rem;
}

.search-container button:hover {
    background-color: var(--primary-color);
}

/* ==== Responsive: Khi màn hình dưới 768px ==== */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Hiện nút ☰ */
    }

    .navbar{
        display: none;
        flex-direction: column;
        background-color: var(--bg-light);
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        z-index: 99;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .navbar.active{
        display: flex;
    }

    .navbar .menu{
        flex-direction: column;
        padding: 0;
    }

    .navbar .menu li{
        padding: 1rem;
        border-bottom: 1px solid #ddd;
    }
}






