body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2, h3 {
    text-align: center;
    color: #333;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    color: #007bff;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.color-input {
    height: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
form:invalid .submit {
    pointer-events: none;
    opacity: 0.5;
}