:root{
    --color-primary: green;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-facebook{
    color: blue;
}

.fa-youtube{
    color: red;
}

.latest-news-content h4 a{
    color: var(--color-primary);
}

.event-list .event-name a{
    color: var(--color-primary);
}

.views .views-list .views-item h4{
    color: var(--color-primary);
}

