body{
    background-color: lightgray;
}
.leftandright {
    display: flex;
    font-family: Arial, sans-serif;
    width: 100%;
}

.left{
    width: 50%;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
}
.right{
    width: 50%;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
}
.gallery {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 200px); 
    grid-template-rows: repeat(3, 200px); 
    gap: 10px; 
    justify-content: center;
}

.gallery>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.RIGHTCOLUM iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 10px;
}

.phancuoi{
    margin-top: 30px;
    font-size: 30px;
    text-decoration-color: gray;
    text-align: center;
}