
body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: lightgray;
    justify-content: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: black;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

legend {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.color-input {
    height: 40px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: gray;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: gray;
}

form:invalid .submit {
    pointer-events: none;
    opacity: 0.5;
}

.debug{
    width: 105%;
}